.chefLogo {
  height: 50px;
  width: 50px;
  color: rgb(251, 255, 230);
  position: relative;
  bottom: 5px;
  right: 2px;
}

.signUp {
  background: none;
  border: none;
  color: rgb(30, 126, 252);
}

.chefImg{
    height: 450px;
    width: 450px;
}

.imgContainer{
    display: flex;
    justify-content: center;
}

.formDisplay{
    position: absolute;
    bottom: 13px;    
}

.loadingSpinner{
    position: relative;
    left: 50px;
    top: 32px;
}