<div style="display: flex; justify-content: center; max-height: 500px; overflow: hidden">
  <div>
    <img fxShow fxHide.xs="true" style="height: 600px; margin-right: 50px;"
      src="https://www.pngjoy.com/pngl/384/7097524_female-chef-pizza-chef-journal-by-cool-image.png" />
  </div>
  <div style="margin-top: 40px;">
    <div class="signupForm" style="  background-color: whitesmoke;">
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <span class="iconify chefLogo" data-icon="mdi-chef-hat" data-inline="false">
        </span>
        <div class="form-group">
          <label for="email">Email</label>
          <input appAutoCompleteOff type="email" id="email" class="form-control" ngModel name="email" email required
            placeholder="For example: israel@israeli.com" (click)="onClick(password)" />
          <div class="form-group">
            <label for="password">Password</label>
            <input #password appAutoCompleteOff type="password" id="password" class="form-control" ngModel
              name="password" minlength="6" required placeholder="At least 6 characters" />
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid"
          style="height: 40px; width: 250px; font-size: larger">
          Sign Up
        </button>
      </form>
    </div>
    <br />
    <div class="LoginSwitch" style="  background-color: whitesmoke;  ">
      <p style="text-align: center; margin: 0">
        Have an account?
        <button type="button" style="background: none; border: none; color: rgb(30, 126, 252)" (click)="toLogIn()">
          Log in
        </button>
      </p>
    </div>
  </div>
</div>