<div class="container">
    <img
        src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1537932667000/photosp/8b65aaa3-f22f-43fe-bebb-28abb5a78cd0/stock-photo-food-market-fruits-grocery-full-vegetables-products-healthy-food-supermarket-8b65aaa3-f22f-43fe-bebb-28abb5a78cd0.jpg">
    <div class="descContainer">
        <div class="description">
            <div class="title">
                Welcome to Recipe Manager
            </div>
            <br><br>
            <div class="sub-title">
                Add/Edit Recipes
            </div>
            <div>
                Select a recipe from the list to show details, or use the + button to add new recipes.
            </div>
            <br><br>
            <div class="sub-title">
                Move Recipes to Shopping List
            </div>
            <div>
                You can add a recipe with all it's ingredients to your shopping list.
            </div>
        </div>
    </div>
</div>