input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

h2{
  float: left;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px
}

.col-sm-7 {
    width: 100%;
}

.form-control{
  margin-bottom: 20px;
}

button.mat-focus-indicator.mat-icon-button.mat-button-base.mat-warn:hover {
  background-color: pink;
}